<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Flashcard Set</title>
</head>
<body>
    {% include 'supernova/navbar.html' %}
    
    <div class="columns is-centered">
        <div class="column is-two-fifths">
            <h1 class="title">Create a new flashcard set</h1>
            <form class="box" action="{% url 'supernova:flashcard_set' %}" method="post">
                {% csrf_token %}
                <div class="field">
                    <label class="label">Title</label>
                    <div class="control">
                        <input class="input" type="text" name="title" placeholder="e.g. Module 1 Vocab" required>                      
                    </div>
                </div>
                <div class="field">
                    <label class="label">Subject</label>
                    <div class="control">
                        <input class="input" type="text" name="subject" placeholder="e.g. French" required>                      
                    </div>
                </div>
                <input type="submit" class="button is-success" value="Add flashcards!">
            </form>
        </div>
    </div>

</body>
</html>