<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{note.title}}</title>
</head>
<body>
    {% include 'supernova/navbar.html' %}

    <div class="section">
        <div class="columns is-centered">
            <div class="column is-four-fifths">
                <h1 class="title">{{note.title}} {% if request.user == note.author %} <a class="button" href = "{% url 'supernova:edit_notes' note.id %}"><i class="fa-solid fa-pencil"></i></a></h1>
                <p>{{ note.subject }} · {{ note.date_uploaded }} <a href = "{% url 'supernova:user_profile' note.author %}"> @{{note.author}} </a>
                {% endif %}</p>
                <div class="box">
                    
                    {% if note.image %}
                        <img src="{{note.image.url}}" alt="">
                    {% endif %}
                    <p>{{note.notes_content}}</p>
                    
                </div>
            </div>
        </div>
    </div>
</body>
</html>