<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resources</title>
</head>
<body>
    {% include 'supernova/navbar.html' %}
    <div class="section">
        <h1 class="title">Extra Resources</h1>
        <div class="column">
            <h2 class="title is-5">Websites</h2>
            <p>Revision Notes, Questions and Past Papers: <a href="https://www.physicsandmathstutor.com">Physics and Maths Tutor</a></p>
            <p>Gamified Revision Courses: <a href="https://senecalearning.com/en-GB/">Seneca</a></p>
            <p>Study Tracking: <a href="https://www.superbyte.site/studybunny">Study Bunny</a></p>
        </div>
        
        <div class="column">
            <h2 class="title is-5">Books</h2>
            <h3 class="has-text-weight-bold">GCSEs</h3>
            <p>Revision Guides and Practise Books: <a href="https://www.cgpbooks.co.uk/secondary-books/gcse">CGP Books</a></p>
            <h3 class="has-text-weight-bold">A-Levels</h3>
            <p>Revision Guides and Practise Books: <a href="https://www.cgpbooks.co.uk/secondary-books/as-and-a-level">CGP Books</a></p>
        </div>
        
        <div class="column">
            <h2 class="title is-5">YouTube Channels</h2>
            <h3 class="has-text-weight-bold">English</h3>
            <p>GCSE English Language and Literature: <a href="https://www.youtube.com/@MrSallesTeachesEnglish">Mr Salles Teaches English</a></p>
            <p>AQA GCSE English Language and Literature: <a href="https://www.youtube.com/@mrbruff">Mr Bruff</a></p>
            <h3 class="has-text-weight-bold">Maths</h3>
            <p>Free Maths Resources: <a href="https://www.youtube.com/@DrFrostMaths">Dr Frost Maths</a></p>
            <p>Concise Topic Summaries: <a href="https://www.youtube.com/@Cognitoedu">Cognito</a></p>
            <h3 class="has-text-weight-bold">Science</h3>
            <p>Concise Topic Summaries: <a href="https://www.youtube.com/@Cognitoedu">Cognito</a></p>
            <p>Lessons and Revision Tips for GCSE and A-Level: <a href="https://www.youtube.com/@ScienceShorts">Science Shorts</a></p>
            <h3 class="has-text-weight-bold">Computer Science</h3>
            <p>GCSE and A-Level Revision: <a href="https://www.youtube.com/@craigndave">Craig'n'Dave</a></p>
        </div>
        
        <h3 class="has-text-weight-bold">Need more? Check out <a href="https://www.tiktok.com/@anika.studies">@anika.studies</a> for tons of revision tips, study vlogs and more!</h3>
    </div>

</body>
</html>