<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Results</title>
</head>
<body>
    {% include 'supernova/navbar.html' %}
    <div class="section">
        <h1 class="title">Search Results</h1>
        <div class="columns is-multiline">
            {% for note in results %}
                {% include 'supernova/note_preview.html' %}
            {% endfor %}
        </div>
    </div>
    
</body>
</html>